<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<div th:fragment="delete">
    <form th:action="@{'/delete/{id}'(id=${book.id})}">
        <button type="submit" >Удалить</button>
    </form>
</div>
<div th:fragment="read">
    <form th:action="@{'/book/{id}'(id=${book.id})}">
        <button type="submit">Читать</button>
    </form>
</div>
<div th:fragment="edit">
    <form th:action="@{'/edit/{id}'(id=${book.id})}">
        <button type="submit">Редактировать</button>
    </form>
</div>

</html>