<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head ::head"></head>
<body>
<header th:replace="fragments/header :: header"></header>

<form method="post" action="#" th:object="${book}" th:action="@{/save}">
    <input type="text" th:field="*{title}" placeholder="Название"/>
    <input type="text" th:field="*{description}" placeholder="Описание"/>
    <input type="text" th:field="*{author}" placeholder="Автор"/>
    <input type="text" th:field="*{isbn}" placeholder="isbn"/>
    <input type="number" min="1800" th:field="*{printYear}" placeholder="Год печати"/>
    <input type="hidden" th:field="*{readAlready}"/>
    <input type="submit" value="Создать"/>
</form>
</body>
</html>